body {
  color: navy;
}

.items-heading {
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-heading {
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}

.formLabels {
  color: black;
}

.home {
  color: black;
}

.bg-body-tertiary {
  border-style: solid;
  border-color: black;
}

.navbarBrand {
  padding-left: 20px;
}

Form {
  border-style: solid;
  border-color: darkgray;
  padding: 10px;
}

.reviewButtons {
  float: right;
  margin: 5px;
}
